*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg-body:#E8E9F3;
  --bg-container:#CECECE;
  --font-col:#A6A6A8;
  --font-col-accent:#272635;
  --bg-accent:#B1E5F2;
  
}
html
{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  background-color:var(--bg-body);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}